

<div >
  <p><%= notice %></p>
  <!-- Page Content goes here -->

  <div><div><%= link_to 'New Task', new_task_path , :style=>"color:#ffffff;"%></div><i class="material-icons md-18">note_add</i></div>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Name</th>
        <th>Deadline</th>
        <th>Done</th>
        <th>操作</th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.user_id %></td>
          <td><%= task.name %></td>
          <td><%= task.deadline %></td>
          <td><%= task.done %></td>
          <td >
            <div ><%= link_to 'Show', task, :style=>"color:#ffffff;"%></div>
            <div ><%= link_to 'Edit', edit_task_path(task), :style=>"color:#ffffff;" %></div>
            <div ><%= link_to 'Destroy', task, :style=>"color:#ffffff;", method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </td>
<!--          <td></td>-->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>