<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>TodoManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">TODO Manager</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">ログイン</a></li>
        </ul>
      </div>
    </nav>
      <%= yield %>
  </body>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      Copyright © 2014 〇〇 Inc. All Rights Reserved.
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
</html>
