<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>TodoManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <nav>
      <div>
        <a href="#" >TODO Manager</a>
        <ul>
          <li><a href="sass.html">ログイン</a></li>
        </ul>
      </div>
    </nav>
      <%= yield %>
  <div id="app"></div>
  </body>
<footer >
  <div >
    <div>
      Copyright © 2014 〇〇 Inc. All Rights Reserved.
      <a href="#!">More Links</a>
    </div>
  </div>
</footer>
</html>
